body{
    background-color:white!important;
}
.col-12{
 height: 200px;
}
.col-4{
    height: 200px;
}
.box6{
    height: 100px;
}
.box6{
    height: 100px;
    background-color: gold!important;
}